mat-form-field {
  width: 100%;
}

.radius-fields {
  display: flex;

  .radius-value {
    width: 60px;
  }

  .radius-unit {
    margin-left: 8px;
    width: 40px;
  }
}

.radius-error {
  margin: 0 0 12px 0;
}
