<mat-card>
  <div class="header-contents">
    <div class="headlines">
      <mat-card-title translate>DASHBOARD_TECHNICIAN_LIST_TITLE</mat-card-title>
      <mat-card-subtitle translate>DASHBOARD_TECHNICIAN_LIST_SUBTITLE</mat-card-subtitle>
    </div>
    <div class="action-button">
      <mat-icon routerLink="add-technician">add</mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchQuery" (ngModelChange)="onQueryChange()"
        placeholder="{{'SEARCH' | translate}}">
      <mat-icon matSuffix class="reset-button" *ngIf="!!searchQuery" (click)="resetSearchQuery()">close</mat-icon>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="list"
      infinite-scroll
      infiniteScrollThrottle="300"
      [infiniteScrollDistance]="1"
      [infiniteScrollDisabled]="techniciansFacade.hasFetchedAll | async"
      [scrollWindow]="false"
      (scrolled)="fetchNextPage()">
      <div class="horizontal-flex" *ngFor="let technician of techniciansFacade.technicians | async ">
        <div class="technician horizontal-flex" [routerLink]="['technician-details', technician.externalId]">
          <div class="avatar">
            <div class="content">{{getFullTechnicianName(technician) | abbreviate}}</div>
          </div>
          <div class="details">
            <div>
              <span class="name">{{getFullTechnicianName(technician)}}</span>
              <span *ngIf="(person | async).id === technician.externalId"
                class="current-user">&nbsp;({{'DASHBOARD_TECHNICIAN_LIST_CURRENT_LOGIN_USER' | translate}})</span>
            </div>
            <div class="created-date">{{technician.createdAt | date}}</div>
          </div>
          <div class="action-buttons">
            <div class="technician-status" [ngClass]="technician.inactive ? 'inactive' : 'active'">
              {{ (technician.inactive ? 'TECHNICIAN_LIST_INACTIVE': 'TECHNICIAN_LIST_ACTIVE') | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="techniciansFacade.loadingTechnicians | async">
      <div class="technician">
        <pp-fake-data [fontSize]="16" [lineHeight]="28"></pp-fake-data>
      </div>
      <div class="technician">
        <pp-fake-data [fontSize]="16" [lineHeight]="28"></pp-fake-data>
      </div>
      <div class="technician">
        <pp-fake-data [fontSize]="16" [lineHeight]="28"></pp-fake-data>
      </div>
    </div>

  </mat-card-content>
</mat-card>