mat-card {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.hyperlink-area {
   border-top: solid 1px #e6e7e7;
   padding-top: 10px;
   text-align: center; 
   color: #0e6dd1;
}

.no-margin {
  margin: 0;
}

.side-padded {
  $padding: 16px;
  padding-left: $padding;
  padding-right: $padding;
}

.logo-placeholder {
  $height: 115px;
  background-color: #0f828f;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  height: $height;
  line-height: $height;
  margin-bottom: 16px;
}

.company-name {
  white-space: normal;
  word-break: break-word;
}
