<mat-form-field>
  <mat-label *ngIf="label">{{ label | translate}}</mat-label>
  <input matInput
         class="auto-complete-input"
         matAutocompleteTrigger
         [id]="inputId"
         [readonly]="disabled"
         [formControl]="formControl"
         [matAutocomplete]="auto"
         [matAutocompleteDisabled]="disabled"
         #autoInput>
  <button mat-button
          matSuffix
          mat-icon-button
          [disabled]="!autoInput.value || disabled"
          (click)="clearInput()">
    <mat-icon *ngIf="autoInput.value">close</mat-icon>
  </button>
  <mat-autocomplete autoActiveFirstOption
                    (closed)="changeResponsiblePerson(autoInput.value)"
                    #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage() | translate}}</mat-error>
</mat-form-field>
