<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  {{'PASSWORD_CHANGE_REQUIRED' | translate}}
  <mat-form-field>
    <input matInput
           type="password"
           placeholder="{{'NEW_PASSWORD' | translate}}"
           formControlName="password">
    <mat-error *ngIf="changePasswordForm.hasError('required', 'password')">
      {{'PLEASE_FILL_IN_THIS_FIELD' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           placeholder="{{'CONFIRM_NEW_PASSWORD' | translate}}"
           formControlName="confirmPassword"
           [errorStateMatcher]="passwordsErrorStateMatcher">
    <mat-error *ngIf="changePasswordForm.hasError('notSame')">
      {{'PASSWORDS_DO_NOT_MATCH' | translate}}
    </mat-error>
  </mat-form-field>
  <button type="submit"
          mat-raised-button
          [disabled]="changePasswordForm.invalid || (isBusy | async)"
          color="primary">
    {{'CHANGE_PASSWORD' | translate}}
  </button>
</form>
