<div class="header-container">
  <div class="column">
    <div class="header">
      <h1 *ngIf="(person | async) else noPersonHeadline"
          translate [translateParams]="{userName: (person | async).firstName + ' '+ (person | async).lastName }">
        WELCOME_TITLE_WELCOME</h1>
      <ng-template #noPersonHeadline><h1 translate>WELCOME_TITLE_DEFAULT_WELCOME</h1></ng-template>
      <p *ngIf="(crowdName | async)" class="sub-headline"
         translate [translateParams]="{crowdName: (crowdName | async)}">
        WELCOME_TITLE_TO</p>
    </div>
  </div>
</div>

<div class="cards">
  <div class="side-by-side">
    <div class="narrow-column">
      <pp-company-profile-tile class="tile"></pp-company-profile-tile>
      <pp-crowd-owner-profile-tile class="tile"></pp-crowd-owner-profile-tile>
    </div>
    <div class="wide-column">
      <pp-assignments-tile
        class="tile"></pp-assignments-tile>
      <technicians-list class="tile"></technicians-list>
    </div>
  </div>
</div>
