<form #form="ngForm" (ngSubmit)="onSubmit()">
  <span class="confirm-email-bold-text">{{'EMAIL_CONFIRM' | translate}}</span>
  <span class="confirm-email-text">{{'ENTER_EMAIL' | translate}}</span>
  <span class="confirm-email-bold-text">{{data.maskedEmail}}</span>
  <mat-form-field>
    <input matInput
           placeholder="{{'email' | translate}}"
           required
           name="email"
           #email="matInput"
           [(ngModel)]="data.email">
  </mat-form-field>
  <button type="submit"
          mat-raised-button
          [disabled]="form.invalid || (isBusy$ | async)"
          color="primary">
    {{'RESET_PASSWORD_NEXT' | translate | uppercase}}
  </button>
</form>

