.confirm-email-bold-text {
  color: #37474f;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
}

.confirm-email-text {
  color: #37474f;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 48px;
  padding: 0
}

form {
  display: flex;
  flex-direction: column;
}