<mat-card>
  <mat-card-title>{{'TECHNICIAN_PROFILE_SKILLS' | translate}} ({{selectedSkillsCount}})</mat-card-title>
  <mat-card-content id="technician-skill-list">
    <div id="skill-card" *ngFor="let skillViewModel of skillViewModels | async">
      <div id="skill-card-container">
        <div id="skill-card-header">
          <div id="left-title">
            <mat-checkbox class="tag-name" [checked]="skillViewModel.selected" (click)="toggleTag(skillViewModel)">
              <div class="text-break">{{skillViewModel.tag.name}}</div>
            </mat-checkbox>
            <div class="skill-description text-break">{{skillViewModel.tag.description}}</div>
          </div>
          <div id="right-status" *ngIf="skillViewModel.selected"
            ngClass="{'hidden': !(tag.skill && tag.skill.approvalDecision)}">
            <pp-approval-decision-status *ngIf="skillViewModel.skill?.approvalDecision"
              [approvalDecision]="skillViewModel.skill?.approvalDecision">
            </pp-approval-decision-status>
          </div>
        </div>
        <div id="certificate-attachment" class="certificate-area block-space align-header"
          *ngIf="skillViewModel.selected && skillViewModel.skill && skillViewModel.skill.certificate">
          <span *ngIf="!skillViewModel.certificateToBeDeleted">
            <a class="blue-link text-break"
              (click)="downloadCertificate(skillViewModel.skill)">
              {{skillViewModel.skill.certificate.fileName}}
            </a>
            <div class="smaller-font-size gray-text text-break">
              <label>{{'TECHNICIAN_PROFILE_SKILL_DETAIL_EXPIRATION_DATE' | translate}}:</label>
              <span>{{formatDate(skillViewModel.skill?.expiredAt)}}</span>
            </div>
          </span>
          <div *ngIf="skillViewModel.certificateToBeDeleted">
            <del class="text-break">{{skillViewModel.skill.certificate.fileName}}</del>
            <div class="deleted-text text-break">
              {{'TECHNICIAN_PROFILE_SKILL_DETAIL_DELETE_WARNING' | translate}}
            </div>
          </div>
          <mat-icon class="action-button" *ngIf="!skillViewModel.certificateToBeDeleted"
            id = "skill-{{skillViewModel.skill?.externalId}}-delete"
            (click)="deleteCertificate(skillViewModel)">delete</mat-icon>
          <mat-icon class="action-button" *ngIf="skillViewModel.certificateToBeDeleted"
            id = "skill-{{skillViewModel.skill?.externalId}}-undo"
            (click)="undoCertificateDeletion(skillViewModel)">undo</mat-icon>
        </div>
        <div class="align-header"
          *ngIf="skillViewModel.selected && skillViewModel.skill?.approvalDecision?.reason">
          <div class="gray-text">{{'TECHNICIAN_PROFILE_SKILL_DETAIL_REMARKS' | translate}}: </div>
            <div #remarksDiv class="remarks" [ngClass]="{'remarks-collapse': (skillViewModel.expanded === false)}">
              {{skillViewModel.skill?.approvalDecision?.reason}}
            </div>
              <a class="blue-link" *ngIf="isLinkVisible(skillViewModel, remarksDiv)" (click)="toggleTagDetails(skillViewModel)">
                {{skillViewModel.expanded ? ('TECHNICIAN_PROFILE_SKILL_DETAIL_COLLAPSE' | translate) :
                ('TECHNICIAN_PROFILE_SKILL_DETAIL_EXPAND' | translate) }}
            </a>
        </div>
        <div id="certificate-upload" class="align-header"
          *ngIf="skillViewModel.selected && (!skillViewModel.skill || !skillViewModel.skill.certificate)">
          <div class="certificate-area block-space" *ngIf="skillViewModel.newCertificate">
            <span class="break-word">{{skillViewModel.newCertificate.fileName}}</span>
            <mat-icon class="action-button" *ngIf="skillViewModel.newCertificate"
              (click)="removeCertificateUpload(skillViewModel)">delete</mat-icon>
          </div>
          <pp-file-uploader *ngIf="!skillViewModel.newCertificate"
            (dropped)="addCertificateUpload($event, skillViewModel)" (errorOccurred)="onUploadError($event)"
            [maxSize]="configFacade.maxAttachmentSize | async">
          </pp-file-uploader>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
