
#technician-skill-list {
  border: #cccccc solid 1px;
  border-bottom: none;
  max-height: 608px;
  overflow-y: auto;

  .remarks-collapse {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  // common class
  .block-space {
    margin: 12px 0px 12px 0px;
  }

  .break-word {
    word-break: break-word;
  }

  .text-break {
    white-space:normal;
    word-break: break-word !important;
  }

  .action-button {
    cursor: pointer;
    margin-left: 20px;
  }

  .gray-text {
    color: gray;
  }

  .smaller-font-size {
    font-size: smaller;
  }

  .align-header {
    margin-left: 24px;
  }

  .certificate-area {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
    border: #cccccc solid 1px;
    padding: 8px;
  }

  .blue-link {
    cursor: pointer;
    color: #0a6ed1;
  }
  // id

  #skill-card {
    border-bottom: #cccccc solid 1px;
  }
  #skill-card-container {
    margin: 20px;
    justify-content: space-between;

    #skill-card-header {
      display: flex;

      #left-title {
        width: 100%;
        .tag-name {
          width: 100%;
        }
        .skill-description {
          width: 100%;
          color: gray;
          font-size: smaller;
          margin-left: 25px;
        }
      }
    }
    .deleted-text {
      color: red;
    }

    .remarks {
      line-height: 20px;
      width: 100%;
      display: inline-block;
      white-space: initial;
      overflow: visible;
      word-break: break-word;
    }

    #certificate-upload {
      margin-left: 24px;
      margin-top: 24px;
    }
  }
}