<div class="tile" (click)="openDetails()" [ngClass]="{'cursor-pointer': shouldOpenDialog()}">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="tile-title">{{assignment?.subject}}</mat-card-title>
      <mat-card-subtitle>{{assignment?.code}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="content-row">
        <mat-icon aria-label="Due date time">alarm</mat-icon>
        <span class="content-value">{{assignment?.dueDateTime | localDateTimeFormat}}</span>
      </div>
      <div class="content-row">
        <mat-icon aria-label="Address">location_on</mat-icon>
        <span class="content-value">{{assignment?.address}}</span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <pp-assignments-board-tile-actions [assignment]="assignment"></pp-assignments-board-tile-actions>
    </mat-card-actions>
  </mat-card>
</div>
