<form #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput
             placeholder="{{'verificationCode' | translate}}"
             required
             name="verificationCode"
             #email="matInput"
             [(ngModel)]="data.verificationCode">
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            [disabled]="form.invalid || (isBusy$ | async)"
            color="primary">
      {{'RESET_PASSWORD_NEXT' | translate | uppercase}}
    </button>
    <span *ngIf="!!data.accountName" class="link-button" (click)="codeNotReceived()">{{'NOT_RECEIVE_CODE' | translate | uppercase}}</span>
</form>
