.resend-code-bold-text {
  color: #37474f;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
}

.resend-code-text {
  color: #37474f;
  text-align: center;
  font-size: 14px;
  margin-top: 0;
  padding: 0
}

.resend-button {
  margin-top: 48px;
}

form {
  display: flex;
  flex-direction: column;
}