<form #form="ngForm" (ngSubmit)="onSubmit()">
  <span class="resend-code-bold-text">{{'RESEND_VERIFICATION' | translate}}</span>
  <span class="resend-code-text">{{'RESEND_VERIFICATION_DESCRIPTION' | translate}}</span>
  <span class="resend-code-bold-text">{{data.email}}</span>
  <button type="submit" class="resend-button"
          mat-raised-button
          [disabled]="form.invalid || (isBusy$ | async)"
          color="primary">
    {{'RESEND_CODE_BUTTON' | translate}}
  </button>
</form>
  