<form #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput
               placeholder="{{'ACCOUNT' | translate}}"
               required
               name="account"
               #accountName="matInput"
               [(ngModel)]="data.accountName">
      </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="{{'USERNAME' | translate}}"
             required
             name="userName"
             #userName="matInput"
             [(ngModel)]="data.userName">
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            [disabled]="form.invalid || (isBusy$ | async)"
            color="primary">
      {{'RESET_PASSWORD' | translate | uppercase}}
    </button>
    <span class="link-button" (click)="forgotAccount()">{{'FORGET_ACCOUNT_USERNAME' | translate | uppercase}}</span>
  </form>
  